<div>
  <h2 id="page-heading" data-cy="JobHistoryHeading">
    <span>Job Histories</span>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info mr-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-history"
        [routerLink]="['/job-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Job History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="jobHistories?.length === 0"
  >
    <span>No jobHistories found</span>
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="jobHistories && jobHistories.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Start Date</span></th>
          <th scope="col"><span>End Date</span></th>
          <th scope="col"><span>Language</span></th>
          <th scope="col"><span>Job</span></th>
          <th scope="col"><span>Department</span></th>
          <th scope="col"><span>Employee</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let jobHistory of jobHistories; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/job-history', jobHistory.id, 'view']">{{
              jobHistory.id
            }}</a>
          </td>
          <td>{{ jobHistory.startDate | formatMediumDatetime }}</td>
          <td>{{ jobHistory.endDate | formatMediumDatetime }}</td>
          <td>{{ jobHistory.language }}</td>
          <td>
            <div *ngIf="jobHistory.job">
              <a [routerLink]="['/job', jobHistory.job?.id, 'view']">{{
                jobHistory.job?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="jobHistory.department">
              <a
                [routerLink]="[
                  '/department',
                  jobHistory.department?.id,
                  'view'
                ]"
                >{{ jobHistory.department?.id }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="jobHistory.employee">
              <a
                [routerLink]="['/employee', jobHistory.employee?.id, 'view']"
                >{{ jobHistory.employee?.id }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/job-history', jobHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/job-history', jobHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(jobHistory)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
